<!DOCTYPE html>
<html lang="en">

{{template "header" .}}

<body>

{{template "navbar" .}}

<div class="main-page page-container">
    <div class="page-content">

        <!-- FIRST LINE -->
        <div class="first-line tile is-ancestor">
          {{range .Top3}}
            {{template "regular-tile" .}}
          {{end}}
        </div>
        <!--FIRST LINE END-->

        <!--SECOND LINE-->

        <div class="second-line tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    {{template "regular-tile" .Filler1}}
                    {{template "regular-tile" .Filler1}}
                </div>

                {{template "regular-tile" .Filler2}}

            </div>

            <div class="tile is-vertical">
                <div class="diary-article tile is-parent">
                    <article class="card tile is-child notification">
                        <h1 class="title">Дзённік дня</h1>
                        <div class="content diary">
                            В полутора комнатах (если вообще по-английски эта мера пространства имеет смысл), где мы жили втроем, был паркетный пол, и моя мать решительно возражала против того, чтобы члены ее семьи, я в частности, разгуливали в носках. Она требовала от нас, чтобы мы всегда ходили в ботинках или тапочках. Выговаривая мне по этому поводу, вспоминала старое русское суеверие. &#39;Это дурная примета, -- утверждала она, -- к смерти в доме. Может быть, конечно, она просто считала эту привычку некультурной, обычным неумением себя вести. Мужские ноги пахнут, а эпоха дезодорантов еще не наступила...
                        </div>
                        <p class="subtitle">Іосіф Бродскі</p>
                    </article>
                </div>

                {{template "regular-tile" .Filler3}}
            </div>

        </div>

    </div>
</div>

{{template "footer" .}}

</body>

</html>
