{{define "regular-tile"}}
<div class="tile is-parent">
    <article class="card tile is-child">
        <div class="card-image">
            <figure class="image is-16by9">
                <img src={{.Photo}} />
            </figure>
            {{if .IsSpecial}}
            <div class="media special-heading">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="../images/15_icon.png" />
                    </figure>
                </div>
                <div class="media-content">
                    <span class="subtitle is-6">Мінск</span>
                </div>
            </div>
            {{end}}
        </div>
        <div class="card-content">
            <span class="title is-spaced">
                <a href={{printf "articles/%v" .ID}}>
                    {{.Title}}
                </a>
            </span>
            <p class="subtitle">{{.Title}}</p>
            <p class="subtitle author is-4">{{.Author}}</p>
        </div>
    </article>
</div>
{{end}}
