<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/bundle.min.css" />
    <link rel="stylesheet" href="/styles/assets.min.css" />
</head>

<body>

{{template "navbar" .}}

<div class="article-page page-container">

    <div class="page-content">
        <div class="card-image">
            <figure class="image is-3by1">
                <img src="{{.Article.Photo}}" />
            </figure>
        </div>

        <div class="card-content">
            <div class="heading">
              {{.Article.Title}}
            </div>

            <div class="author">
                <strong>Аўтар:</strong>
                <a href="">{{.Article.Author}}</a>
            </div>

            <div class="tags">
              {{range .Article.Hashtags}}
                <a href="">{{.}}</a>
                {{end}}
            </div>
            <hr />

            <div class="text">
                {{.Article.Text}}
                <hr />
            </div>
        </div>

        <div class="articles-links">
            <div class="more-articles-text">Чытайце таксама:</div>
            <div class="tile is-ancestor">

              {{range .Featured }}

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src={{.Photo}} />
                            </figure>
                        </div>
                        <div class="card-content">
                        <span class="title is-spaced">
                            <a href={{.ID}}>
                                {{.Title}}
                            </a>
                        </span>
                            <p class="subtitle">{{.Title}}</p>
                        </div>
                    </article>
                </div>

                {{end}}
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p><a href="https://babajka.github.io/babajka-markup">babajka.io</a></p>
        </div>
    </div>
</footer>


</body>
</html>
