<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/styles/bundle.min.css" />
    <link rel="stylesheet" href="/styles/assets.min.css" />
</head>

<body>
{{template "navbar" .}}

<div class="main-page page-container">
    <div class="page-content">

        <!-- FIRST LINE -->

        <div class="first-line tile is-ancestor">

          {{range .Top3}}

            <div class="tile is-parent">
                <article class="card tile is-child">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src={{.Photo}} />
                        </figure>
                        {{if .IsSpecial}}
                        <div class="media special-heading">
                            <div class="media-left">
                                <figure class="image is-32x32">
                                    <img src="../images/15_icon.png" />
                                </figure>
                            </div>
                            <div class="media-content">
                                <span class="subtitle is-6">Мінск</span>
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <div class="card-content">
                        <span class="title is-spaced">
                            <a href={{printf "articles/%v" .ID}}>
                                {{.Title}}
                            </a>
                        </span>
                        <p class="subtitle">{{.Title}}</p>
                        <p class="subtitle author is-4">{{.Author}}</p>
                    </div>
                </article>
            </div>

            {{end}}
        </div>

        <!--FIRST LINE END-->
        <!--SECOND LINE-->
<!--
        <div class="second-line tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <img src="../images/photo3.jpg" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="title is-spaced">
                                    <a href="articles/4">
                                        Ад біяграфія да творчасці: Алесь Дудар
                                    </a>
                                </span>
                                <p class="subtitle">Лекцыі з Ганнай Севярынец</p>
                            </div>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../images/photo4.jpg" />
                                </figure>
                                <div class="media special-heading">
                                    <div class="media-left">
                                        <figure class="image is-32x32">
                                            <img src="../images/15_icon.png" />
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <span class="subtitle is-6">Мінск</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <span class="title is-spaced">
                                    <a href="articles/5">
                                        Культура і псіхалогія
                                    </a>
                                </span>
                                <p class="subtitle">Выкладчык з ЕГУ распавядзе</p>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-content">
                            <span class="title is-spaced">
                                <a href="articles/6">
                                    Eўрапейскі мадэрнізм
                                </a>
                            </span>
                            <p class="subtitle">Наталля Ламека. Серыя лекцый</p>
                        </div>
                        <div class="card-image">
                            <figure class="image is-3by1">
                                <img src="../images/photo6.jpg" />
                            </figure>
                        </div>
                    </article>
                </div>

            </div>

            <div class="tile is-vertical">
                <div class="diary-article tile is-parent">
                    <article class="card tile is-child notification">
                        <h1 class="title">Дзённік дня</h1>
                        <div class="content diary">
                            В полутора комнатах (если вообще по-английски эта мера пространства имеет смысл), где мы жили втроем, был паркетный пол, и моя мать решительно возражала против того, чтобы члены ее семьи, я в частности, разгуливали в носках. Она требовала от нас, чтобы мы всегда ходили в ботинках или тапочках. Выговаривая мне по этому поводу, вспоминала старое русское суеверие. &#39;Это дурная примета, -- утверждала она, -- к смерти в доме. Может быть, конечно, она просто считала эту привычку некультурной, обычным неумением себя вести. Мужские ноги пахнут, а эпоха дезодорантов еще не наступила...
                        </div>
                        <p class="subtitle">Іосіф Бродскі</p>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="../images/photo5.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <span class="title is-spaced"><a>Некоратка аб Ахматавай</a></span>
                            <p class="subtitle">"Настоящую нежность не спутаешь ни с чем..."</p>
                        </div>
                    </article>
                </div>
            </div>

        </div>
-->
    </div>
</div>

{{template "footer" .}}

</body>

</html>
