<!DOCTYPE html>
<html lang="en">

{{template "header" .}}

<body>

{{template "navbar" .}}

<div class="article-page page-container">

    <div class="page-content">
        <div class="card-image">
            <figure class="image is-3by1">
                <img src="{{.Article.Photo}}" />
            </figure>
        </div>

        <div class="card-content">
            <div class="heading">
              {{.Article.Title}}
            </div>

            <div class="author">
                <strong>Аўтар:</strong>
                <a href="">{{.Article.Author}}</a>
            </div>

            <div class="tags">
              {{range .Article.Hashtags}}
                <a href="">{{.}}</a>
              {{end}}
            </div>
            <hr />

            <div class="text">
                {{.Article.Text}}
                <hr />
            </div>
        </div>

        <div class="articles-links">
            <div class="more-articles-text">Чытайце таксама:</div>
            <div class="tile is-ancestor">

              {{range .Featured }}
                {{template "featured-tile" .}}
              {{end}}

            </div>
        </div>
    </div>
</div>

{{template "footer" .}}

</body>
</html>
